/* print styles */
h1, h2, h3, h4, h5, h6, th , .control-label, .jtable-column-header-text {color:#403f68 !important;}
* {line-height:100%;}
div.control-display-label {    min-height: 29px;}

/* form updates in print view */
.form-horizontal .form-group .text-right {text-align:left;float:left;display:inline-block;min-width:160px;}
.form-actions {display:none;}

/* page layout */
.container {width:100%;}
.page-header-menu , .page-header {background:none !important;}
.page-header div.page-header-menu .page-logo {margin:20px auto;display:inline-block;text-align:center;}
.page-head .system-title {margin:10px;}
.page-content .page-title {padding:15px;}
.page-head {float:left;display:inline-block;padding:10px;}
.system-title {float:left;padding:10px;display:inline-block;border-left:1px solid #333;margin:20px;height:75px;}
.system-title h1 {color:#333;font-size:20px !important;padding:15px 20px;margin:0;}
.page-header-menu{float:left;display:inline-block;}
.page-header-top {border-bottom:1px solid #ccc;}
.page-head, .page-header {display: block;}
.scroll-to-top, .cookiealert, .pre-footer, .page-footer, .copyrights, .btndiv, .portlet-title , .page-header, .page-user-login, .page-user-login .text-right , .page-breadcrumb  , .page-sub-header-left, .page-prefooter, .footer-social , .hor-menu ,.scroll-to-topm ,.menu-toggler , .CurrentBCnode , .page-toolbar, .top-menu{display:none !important;}
.page-header-top {display:block;}
.page-footer {padding-top:0 !important;}
.page-footer .col-md-6 {float:none;width:100%;text-align:center;}
.page-sub-header-right {float:none;display:block;font-size:75%;padding:0 !important;line-height:16px;}
.page-header, .page-header .page-header-top {height:auto;}
/*.page-header .page-header-top .page-logo {float:none;text-align:center;height:auto;}
.page-header .page-header-top .page-logo a {display:block;}
.page-header .page-header-top .page-logo span {display:block !important;float:none;border:0px none;margin:20px auto !important;width:100%;clear:both;min-width:400px;}
.page-header .page-header-top .page-logo .logo-default {margin:20px auto 0;float:none;border:0px none}*/
.page-head .page-title {border:1px solid #ccc;margin-bottom:20px;background:#dedede;}
.page-content .page-title h1 {font-size:20px;}

.page-header .page-header-top .page-logo span {min-width:400px;float:left;font-size:20px;line-height: 55px;padding-top:10px;}
.page-header .page-header-top .page-logo img {float:left;}
/*.page-header .page-header-top .page-logo .logo-default{width:150px !important;}*/
.page-header .page-header-top .page-logo {min-width: 100%;}
.page-header .page-header-menu {display:block;padding:0;    height: 119px !important;}
.form-group {margin-bottom: 10px;}
.page-header {border-bottom:1px solid #ccc;}
.page-print label {font-size:12px;}

/* reduce heights */
.page-print.form-display label.control-label {padding: 4px 5px !important;}
.page-print.form-display .control-display-label {padding: 4px 5px !important;min-height: 18px;}
.styled td, .styled th {    padding: 4px 5px;border-bottom:1px solid #EFEFEF !important;}


/* logged user */
.page-content .nav {display:none;}
.requestphoto2 {width:120px;height:120px;margin:20px 0;}
.requestcode img {margin:5px 0;}
.btn {display:none;}
/*.instructions {font-size:11px;line-height:9px;}*/
.Rednotification {line-height:15px;}
.portlet.box.mofa-light {border:0px none;padding:0;margin:0;}

body {
    background-color: #fff !important;
  }

  .no-page-break {
    page-break-after: avoid;
  }

  .page-container {
    margin: 0px !important;
    padding: 0px !important;
  }
  .page-container .page-content {
    padding: 0 !important;
    margin: 0 !important;
  }
  .page-container .page-content > .container {
    width: 100%;
    max-width: none !important;
    margin: 0 !important;
  }
  .page-container .page-content > .container > .portlet,
  .page-container .page-content > .container-fluid > .portlet {
    padding: 0;
    margin: 0;
  }
  .page-container .page-content > .container > .portlet > .portlet-body,
  .page-container .page-content > .container-fluid > .portlet > .portlet-body {
    padding: 0;
    margin: 0;
  }

  
#dvToPrint .btndiv {display:none !important;}
.portlet.box {border:0 none !important;}
.portlet.box .form-body {padding:0 !important;}
.requestphoto2 {max-height:80px !important;    width: auto;    height: auto;margin:0;}
div.form-display .form-group > div {    padding: 2px 5px;}
.page-print.form-display div.control-display-label {    min-height: 25px;font-size: 14px;}
.page-print.form-display label.control-label {padding: 7px 5px !important;font-size: 12px;}
.Rednotification {line-height:20px;font-size:14px;border-top:1px dotted #ccc;}
.form-print-header {border-bottom:1px dotted #ccc;padding-bottom:5px;margin-bottom:5px;}