/* Smoothness styling for jQuery Calendars Picker v2.0.0. */
.calendars {
	background-color: #fff;
	color: #222;
	border: 1px solid #aaa;
	border-radius: 20px;
	font-family: "Open Sans", sans-serif;
	font-size: 90%;
	padding: 10px;
	border: 1px solid #e9eaee;
	box-shadow: rgba(64,63,104,0.2) 5px 5px 15px;
}

.calendars-rtl {
	direction: rtl;
}

.calendars-popup {
	z-index: 100100;
}

.calendars-disable {
	position: absolute;
	z-index: 100100;
	background-color: white;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.calendars a {
	color: #fff;
	text-decoration: none;
}

	.calendars a.calendars-disabled {
		color: #888;
		cursor: auto;
	}

.calendars button {
	margin: 0.25em;
	padding: 0.125em 0em;
	background-color: #fcc;
	border: none;
	-moz-border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
	border-radius: 0.25em;
	font-weight: bold;
}

.calendars-nav, .calendars-ctrl {
	float: left;
	width: 100%;
	background-color: #fff;
	font-size: 90%;
	font-weight: bold;
	padding: 5px;
}

.calendars-ctrl {
	background-color: #fff;
}

.calendars-cmd {
	width: 30%;
	color: #fff;
}

	.calendars-cmd:hover {
		background-color: #e0e0e0;
	}

.calendars-ctrl .calendars-cmd:hover {
	background-color: #e2d9d0;
	color: #333;
}

.calendars-cmd-prevJump, .calendars-cmd-nextJump {
	width: 8%;
}

a.calendars-cmd {
	height: 1.5em;
}

button.calendars-cmd {
	text-align: center;
}

.calendars-cmd-prev, .calendars-cmd-prevJump, .calendars-cmd-clear {
	float: left;
	padding-left: 2%;
}

.calendars-cmd-current, .calendars-cmd-today {
	float: left;
	width: 35%;
	text-align: center;
}

.calendars-cmd-next, .calendars-cmd-nextJump, .calendars-cmd-close {
	float: right;
	padding-right: 2%;
	text-align: right;
}

.calendars-rtl .calendars-cmd-prev, .calendars-rtl .calendars-cmd-prevJump,
.calendars-rtl .calendars-cmd-clear {
	float: right;
	padding-left: 0%;
	padding-right: 2%;
	text-align: right;
}

.calendars-rtl .calendars-cmd-current, .calendars-rtl .calendars-cmd-today {
	float: right;
}

.calendars-rtl .calendars-cmd-next, .calendars-rtl .calendars-cmd-nextJump,
.calendars-rtl .calendars-cmd-close {
	float: left;
	padding-left: 2%;
	padding-right: 0%;
	text-align: left;
}

.calendars-month-nav {
	float: left;
	text-align: center;
}

	.calendars-month-nav div {
		float: left;
		width: 12.5%;
		margin: 1%;
		padding: 1%;
	}

	.calendars-month-nav span {
		color: #888;
	}

.calendars-month-row {
	clear: left;
}

.calendars-month {
	float: left;
	min-width: 15em;
	border: 0px solid #aaa;
	text-align: center;
}

.calendars-month-header, .calendars-month-header select, .calendars-month-header input {
	background-color: #fff;
	color: #222;
	font-weight: bold;
	padding: 2px 0;
}

	.calendars-month-header select, .calendars-month-header input {
		min-width: 95px;
		border: 0px none#cccccc;
		background: #fff;
		height: auto;
	}

	.calendars-month-header input {
		position: absolute;
		display: none;
	}

.calendars-month table {
	width: 100%;
	border-collapse: collapse;
}

.calendars-month thead {
	border: 0px none #aaa;
}

.calendars-month th, .calendars-month td {
	margin: 0em;
	padding: 0em;
	font-weight: normal;
	text-align: center;
}

.calendars-month thead tr {
	border: 0 none;
}

.calendars-month td {
	background-color: #fff;
	border: 1px solid #fff;
}

	.calendars-month td.calendars-week * {
		background-color: #e0e0e0;
		color: #222;
		border: none;
	}

.calendars-month a {
	display: block;
	width: 100%;
	padding: 0.3em 1em;
	background-color: #fff;
	color: #000;
	text-decoration: none;
	border-radius: 10px;
}

	.calendars-month a:hover {
		background-color: #403f68;
		color: #fff;
		border-radius: 10px;
	}

.calendars-month span {
	display: block;
	width: 100%;
	padding: 0.125em 0.125em;
	line-height: 2.1em;
}

.calendars-month td span {
	color: #dfdfdf;
}

.calendars-month td .calendars-other-month {
	background-color: #fff;
}

.calendars-month td .calendars-weekend {
	background-color: #fff;
	/*color:#888;*/
}

.calendars-month td .calendars-today {
	background-color: #403f68;
	color: #fff;
	border-radius: 10px;
}

.calendars-month td .calendars-highlight {
	background-color: #56558c;
}

.calendars-month td .calendars-selected {
	background-color: #56558c;
	color: #fff;
	border-radius: 10px;
}

.calendars-status {
	clear: both;
	text-align: center;
}

.calendars-clear-fix {
	clear: both;
}




.calendars-ctrl {
	background: none;
	padding: 0;
}

.calendars-cmd-close {
	display: none;
}

.calendars-cmd-clear {
	margin: -5px 14px;
	background: none;
	visibility: hidden;
}

	.calendars-cmd-clear:after {
		content: "\f00d";
		display: inline-block;
		font: 14px/1 FontAwesome;
		font-size: 18px;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		color: #ccc;
		visibility: visible;
	}

.calendars-ctrl {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
}
